// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.bar-button-menutoggle {
  position: absolute;
}

.night {
  background: #0a66c0;
  background: -moz-linear-gradient(45deg, #0a66c0 0%, #2ca5e0 100%);
  background: -webkit-linear-gradient(45deg, #0a66c0 0%, #2ca5e0 100%);
  background: linear-gradient(45deg, #0a66c0 0%, #2ca5e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a66c0', endColorstr='#2ca5e0', GradientType=1);
}

.large-text {
  font-size: 8.5rem;
}

.large-icon {
  font-size: 8.5rem;
}